[ req ]
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]

localityName      = Locality Name (eg, city)
localityName_default  = Cardano

0.organizationName    = Organization Name (eg, company)
0.organizationName_default  = Cardano Ace Alliance

organizationalUnitName    = Role of key (eg, ca/member/delegate/voter)
organizationalUnitName_default  = voter

commonName      = Common Name (e.g. YOUR name)
commonName_max      = 64
